<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{master::head('createTurni')}"></head>
<body>
<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="jumbotron p-4 text-center mb-2">
                        <h1>Crea nuovo turno</h1>
                    </div>
                    <form id="register-form" th:object="${turno}" method="post" role="form" style="display: block;">
                        <div class="form-group">
                            <label>Nome turno</label>
                            <input type="text" class="form-control input-sm chat-input" id="name" tabindex="1"
                                   th:field="*{name}" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <label>Durata turno (in minuti)</label>
                            <input type="number" class="form-control input-sm chat-input" id="duration" tabindex="2"
                                   th:field="*{duration}" placeholder="Durata">
                        </div>
                        <div class="form-group">
                            <label>Valore servizio(in minuti)</label>
                            <input type="number" class="form-control input-sm chat-input" id="value" tabindex="3"
                                   th:field="*{value}" placeholder="Valore turno">
                        </div>
                        <div class="form-group">
                            <label>Giorni (es. LU-VE)</label>
                            <input type="text" class="form-control input-sm chat-input" id="days" tabindex="4"
                                   th:field="*{days}" placeholder="Valore turno">
                        </div>
                        <div class="form-group" tabindex="5">
                            <label>Tipo:</label>
                            <select name="role" id="role" th:field="*{tipo}">
                                <option id="option" value="" selected="selected" > -- select an option -- </option>
                                <option value="Mattina">Mattina</option>
                                <option value="Meridiano">Meridiano</option>
                                <option value="Notturno">Notturno</option>
                                <option value="Riposo">Riposo</option>
                            </select>
                        </div>
                        <!--hour picker-->
                        <div class="row">
                            <div class="form-group col-md-6" >
                                <label>Ora inizio turno</label>
                                <input th:field="*{startTime}" tabindex="6" type="time" class="form-control input-sm chat-input" name="time1" id="time1" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Ora fine turno</label>
                                <input th:field="*{endTime}" tabindex="7" type="time" class="form-control input-sm chat-input" name="time2" id="time2" />
                            </div>
                        </div>
                        <!--check school-->
                        <div class="form-group">
                            <label>Scolastico</label>
                            <input type="checkbox" class="form-control input-sm leftBottom" id="school" tabindex="8"
                                   th:field="*{school}">
                        </div>
                        <!--submit-->
                        <div class="form-group mt-5" id="validate" style="display: none;">
                            <button class="btn btn-block btn-primary" tabindex="5" type="submit">Crea turno</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a th:href="@{/}">Home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/turniCreation.js}"></script>
</body>
</html>