<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{master::head('excelUpload')}"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/excelUpload.css}" type="text/css"/>
</head>
<body>
<div class="upload-container">
    <div class="upload-header">
        <h2>Carica/Scarica excel turni</h2>
    </div>
    <div class="upload-content">
        <div class="single-upload">
            <h3>Scegli un  file da caricare</h3>
            <form id="singleUploadForm" name="singleUploadForm">
                <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />
                <button type="submit" class="primary submit-btn">Carica</button>
            </form>
            <div class="upload-response">
                <div id="singleFileUploadError"></div>
                <div id="singleFileUploadSuccess"></div>
            </div>
        </div>

    </div>

    <div style="min-height: 60px;">
        <div th:if="${param.error}" class="alert alert-danger" role="alert" th:value="${param.error}"></div>
    </div>

    <!--<div>-->
        <!--<p><a href="/downloadFile/1">Download excel corrente</a></p>-->
    <!--</div>-->
    <div class="text-center">
        <a th:href="@{/}">Home page</a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data</th>
                <th scope="col">Scarica</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file:${excells}">
                <td th:text="${file.fileName}">Nome</td>
                <td th:text="${file.date}">Cognome</td>
                <td><a th:href="@{'/downloadFile/'+${file.id}}">Scarica</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/excelUpload.js" ></script>
</body>
</html>