body {
    background-color: #ffffff;
    color: #000000;
}

h2, h3, a, th, td, p {
    color: #000000;
}


.header-fixed {
    width: 96%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 428px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 8%;
    float: left;
}